.NewUserBtn {
  float: right;
  margin: 20pt;
  box-shadow: 2px 2px 19px -4px;
  border-radius: 60%;
  color: white;
}

.NewUserBtn:hover {
  box-shadow: 2px 2px 34px 6px;
}

.usrBtnPos {
  position: fixed;
  right: 0px;
  bottom: 10px;
}

.TableParent {
  position: absolute;
  width: 100vw;
  padding: 50pt;
  margin-top: 25pt;
}
.testRow {
  background: #28282b;
  color: white;
  transition: all 300ms ease-in 100ms;
  border-radius: 50%;
}

.testRow:hover {
  color: #28282b;
  background: white;
}

.TableParent .ant-table-thead tr th {
  color: white;
  font-weight: 500;
  text-align: left;
  background: #28282b;
  border-bottom: 1px solid #f0f0f0;
  opacity: 0.8;
  /* transition: background 0.3s ease; */
}

.TableParent .ant-table-title {
  background: #28282b;
}

.delicon:hover {
  color: red;
  cursor: pointer;
}

.editicon:hover {
  color: grey;
  cursor: pointer;
}

/* .selectPermissions */
.ant-select-show-search.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  padding: 6.5pt;
  border-radius: 10pt;
}
